@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@275&family=Readex+Pro&family=Roboto:wght@100&family=Rubik:wght@300;500;700;800&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 3vw;
    margin: 0;
}

.GameApp {
    display: flex;
    justify-content: center;
    height: 100vh;

}

.GameApp>div{
    margin: 20px;
}




