.GameBoard-div {
  height: 80vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.GameBoard-dice {
  max-height: 200px;
  border: 1px solid;
  margin: 10px;
  border-radius: 10px;
}

.GameBoard-div > div {
  margin: 10px;
}

.GameBoard-buttons {
  display: flex;
  flex-direction: column;
}

.GameBoard-buttons > button {
  margin: 20px auto;
  font-size: 0.9rem;
  width: 60%;
}

.GameBoard-images {
  width: 100%;
}

.GameBoard-win {
  height: 100px;
}

.GameBoard-points {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.GameBoard-new-btn {
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .GameBoard-div {
    width: 100%;
    height: 40%;
    justify-content: space-around;
  }
  .GameBoard-dice {
    height: 100px;
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
  }
  .GameBoard-buttons {
    flex-direction: row;
  }

  .GameBoard-buttons > button {
    margin: 5px;
    width: 60%;
    height: 30;
    font-size: 2rem;
  }

  .GameBoard-new-btn {
    width: 60%;
    margin: 0 auto;
    height: 15%;
    font-size: 1.7rem;
  }

  .GameBoard-points {
    font-size: 1.5rem;
  }
}
